registry=https://registry.npmjs.org/
@cseo:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/ProductEngineering/npm/registry/
@m365-admin:registry=https://uifabric.pkgs.visualstudio.com/_packaging/iss/npm/registry/
always-auth=true