<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\src\packages" />
    <add key="globalPackagesFolder" value=".\src\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nugetOrg" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>