<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\src\packages" />
    <add key="globalPackagesFolder" value=".\src\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nugetOrg" value="https://api.nuget.org/v3/index.json" />
    <add key="HR" value="https://microsoftit.pkgs.visualstudio.com/_packaging/HR/nuget/v3/index.json" />
    <add key="msit" value="https://microsoftit.pkgs.visualstudio.com/DefaultCollection/_packaging/MicrosoftIT/nuget/v3/index.json" />
  </packageSources>
</configuration>